.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  }

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

ion-badge {
  transform: translate(-1px,-9px);
  font-size: small;
}

ion-item {
  cursor: pointer;
}

.my-custom-class .confirm-button {
  color:#eb445a;
}
.my-custom-class .secondary {
  background-color: #3880ff;
  color: #ffff;
  border-radius: 5px;
}